# Virtual environment
.venv/

# Editor settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Secrets
.env

# Scraped output data
*.csv
*.json
search_page.html

#Screenshorts
*.screenshots

failed_*.txt
failed_page_*.txt
amenities_modal.html